body{
    background-color: #1f1f1f;
    color: #e0e0e0;
    font-family: tahoma, 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    width: 900px;
}

.input-section{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

input{
    width: 300px;
    padding: 15px;
    background: #2c2c2c;
    border: 1px solid #444;
    color: white;
    border-radius: 10px 0 0 10px;
}

#add-btn{
    padding: 15px 25px;
    background: #71df75;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.main-content{
    display: flex;
    gap: 20px;
}

.column{
    flex: 1;
    background: #2a2a2a;
    padding: 15px;
    border-radius: 12px;
    min-height: 400px;
}

ul{
    list-style: none;
    padding: 0;
}

.todo-item{
    display: flex;
    align-items: center;
    background: #333333;
    border: 1px solid #444;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.completed .custom-checkbox {
    background-color: #4CAF50;
}
.completed .custom-checkbox::after {
    content: '✓';
    color: white;
    font-size: 14px;
}

.todo-text { 
    flex-grow: 1; 
    font-size: 16px;
}

.edit-btn, .delete-btn{
    background:  none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}